# point to EC2 public IP / DNS for DB
DB_HOST=<YOUR_EC2_PUBLIC_IP>
DB_USER=acgapp
DB_PASSWORD=1Qwer$#@!
DB_DATABASE=acg
DB_PORT=3306

# point to EC2 public IP for relay
RELAY_HOST=<YOUR_EC2_PUBLIC_IP>
RELAY_PORT=7000

# force relay mode on the clients
USE_RELAY=true
